{% extends "main.html" %}
{% block title %}
Welcome Page
{% endblock %}

{% block content %}

<h1>Welcom To EVENT</h1>
<p>
    We are excited to welcome you in this event hosted by IEI Society which features a treasure hunt with hackathon. Following are the instructions about how to use this portal and how to enjoy this event.
</p>
<ul>
    <li>First of all, Only 1 of the team member should registrer and login on this portal.</li>
    <li>All of the teams will be escorted by an IEI member throughout the event.</li>
    <li>After Clicking the "Begin" button you will be redirected to a clue page where u will recieve the clue for your first destination.</li>
    <li>You have to reach the destination towards which the clue points.</li>
    <li>On reaching the destination, the Guide with you will confirm if u have reached the correct place or not and will provide you with a coding ques.</li>
    <li>You have to solve that coding question in your own laptop. <b>Code Editor: VS CODE</b> &nbsp &nbsp <b>Programming Languages allowed: PYTHON and C++</b>.</li>
    <li>Time of your question solving will be noted and final teams will be selected on the baises of that only.</li>
    <li>Once you finish the question, the Guide will run test cases on it, and if u pass, He will enter a Treasure Code which will guide u to your next clue.</li>
</ul>
<form action='next_clue' method="get">
    {% csrf_token %}
<center><button class="btn btn-primary">Begin</button></center>
</form>
{% endblock %}